

h1 {
    font-family: "Open Sans";
    color: #1946ba;
} 

h2 {
    font-family: "Open Sans";
    
}

div {
    font-family: "Open Sans";
    color: #5f5f5f;
    
}

button { 
    font-family: "Open Sans";
    color: #ffffff;
    background-color: #ec0b43;
    border: none;
    padding: 7px;
}

