html {
    font-family: "Open Sans";
}

h1 {
    
    color: #1946ba;
} 

h2 {
    
    color: black;
}

p {

    border-left: 4px solid #5f5f5f;
    margin-left: 30px;
    padding-left: 4px;
    color: #5f5f5f;
    
    
    
}


div {
    
    color: #5f5f5f;
    border: 1px groove #F5F5F5;
    max-width: 960px;
}
button { 
    
    color: #ffffff;
    background-color: #ec0b43;
    border: none;
    padding: 7px;
}

