html {
    font-family: "Open Sans";
}

h1 {
    
    color: #1946ba;
} 

h2 {
    
    color: black;
}

p {
    border-left: 4px #5f5f5f;
    padding-left: 30 px;
    color: #5f5f5f;
    
    
    
}


div {
    
    color: #5f5f5f;
    border: 1px groove #F5F5F5;
    max-width: 960px;
}
button { 
    
    color: #ffffff;
    background-color: #ec0b43;
    border: none;
    padding: 7px;
}

